<div class="row" style="margin-bottom: 300px;">
    <div class="col-md-6">
        <div style="margin-top: 27%;margin-left: 40%; background-color: black;">
            <p class="firstname" style="font-size: 100px; text-align: right; font-weight: bold; color:  white;">
                Gaurav
            </p>
        </div>
    </div>
    <div class="col-md-6">
            <p class="lastname" style="margin-bottom: -34px; margin-top: 27%;font-size: 100px; text-align: left; font-weight: bold; color:  black;">
                Warise
            </p>
            <p style="font-size: 24px; margin-left: 35px;">
                SOFTWARE ENGINEER
            </p>
    </div>
</div>