<div class="skills" style="background-color: black; padding: 0 5% 5% 5%;">
    <p style="font-size: 60px; text-align: left; font-weight: bold; color:  white;">Skills</p>
    <!-- <div style="display: flex; flex-direction: row; width:70%; margin: 0 auto;">
        {% load static %}
        <div class="skills" style="padding: 0 5% 0 5%; height:40%; width:100%">
            <img src="{% static 'img/java.png' %}" alt="css logo">
        </div>
        <div class="skills" style="padding: 0 5% 0 5%; height:40%; width:100%">
            <img src="{% static 'img/django.png' %}" alt="css logo">
        </div>
        <div class="skills" style="padding: 0 5% 0 5%; height:40%; width:100%">
            <img src="{% static 'img/sql.png' %}" alt="css logo">
        </div>
        <div class="skills" style="padding: 0 5% 0 5%; height:40%; width:100%">
            <img src="{% static 'img/pandas.png' %}" alt="css logo">
        </div>
        <div class="skills" style="padding: 0 5% 0 5%; height:40%; width:100%">
            <img src="{% static 'img/java.png' %}" alt="css logo">
        </div>
    </div> -->

    <div style="display: flex; flex-direction: row; margin: 0 auto; max-width:1200px; width:100%; display:grid; grid-template-columns:repeat(auto-fit, minmax(200px, 1fr)); gap:2rem">
        {% load static %}
        <div class="skills" style="background-color:white; border: 1px solid yellow; height:200px; width:200px">
            <img src="{% static 'img/java.png' %}" alt="css logo" style="width: 100%; height: 100%; object-fit: cover; background-color:black">
        </div>
        <div class="skills" style="background-color:white; border: 1px solid yellow; height:200px; width:200px">
            <img src="{% static 'img/django.png' %}" alt="css logo" style="width: 100%; height: 100%; object-fit: cover; background-color:black">
        </div>
        <div class="skills" style="background-color:white; border: 1px solid yellow; height:200px; width:200px">
            <img src="{% static 'img/sql.png' %}" alt="css logo" style="width: 100%; height: 100%; object-fit: cover; background-color:black">
        </div>
        <div class="skills" style="background-color:white; border: 1px solid yellow; height:200px; width:200px">
            <img src="{% static 'img/pandas.png' %}" alt="css logo" style="width: 100%; height: 100%; object-fit: cover; background-color:black">
        </div>
        <div class="skills" style="background-color:white; border: 1px solid yellow; height:200px; width:200px">
            <img src="{% static 'img/java.png' %}" alt="css logo" style="width: 100%; height: 100%; object-fit: cover; background-color:black">
        </div>
        <div class="skills" style="background-color:white; border: 1px solid yellow; height:200px; width:200px">
            <img src="{% static 'img/java.png' %}" alt="css logo" style="width: 100%; height: 100%; object-fit: cover; background-color:black">
        </div>
        <div class="skills" style="background-color:white; border: 1px solid yellow; height:200px; width:200px">
            <img src="{% static 'img/django.png' %}" alt="css logo" style="width: 100%; height: 100%; object-fit: cover; background-color:black">
        </div>
        <div class="skills" style="background-color:white; border: 1px solid yellow; height:200px; width:200px">
            <img src="{% static 'img/sql.png' %}" alt="css logo" style="width: 100%; height: 100%; object-fit: cover; background-color:black">
        </div>
        <div class="skills" style="background-color:white; border: 1px solid yellow; height:200px; width:200px">
            <img src="{% static 'img/pandas.png' %}" alt="css logo" style="width: 100%; height: 100%; object-fit: cover; background-color:black">
        </div>
        <div class="skills" style="background-color:white; border: 1px solid yellow; height:200px; width:200px">
            <img src="{% static 'img/java.png' %}" alt="css logo" style="width: 100%; height: 100%; object-fit: cover; background-color:black">
        </div>
    </div>
</div>